.contact {
  padding: 100px 0;
  background: #fafafa;
  z-index: 1;

}

.contact__list {
  list-style: none;
  padding: 0;

}

.contact__info {
  color: #444;
}

.contact__item {

  a {
    display: flex;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;

  }

  a:hover span {
    text-decoration: none;
    color: #F74B54;

  }

  span {
    line-height: 1.8;
    align-self: center;

    transition: color .3s linear;
  }

}

.contact__icon {
  display: inline-block;
  margin-right: 16px;
  height: 45px;
  width: 45px;
  line-height: 45px;
  font-size: 18px;
  text-align: center;
  background-color: #F74B54;
  border-radius: 6px;
  color: #fff;
  padding: 0 13px;
}



.contact__input {
  font-size: 14px;
  height: 50px;
  padding: 0 15px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.contact__textarea {
  font-size: 14px;
  height: 160px;
  padding: 15px;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.contact__input:focus,
.contact__textarea:focus {
  outline: none;
}

.contact__btn {
  @extend .subscribe__btn;
}