.features {
  padding: 100px 0;
  background-color: #fff;
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
  border-radius: 30px;

  transition: all .3s linear;

  h3 {
    font-size: 20px;
    font-weight: 600;
  }
}

.features__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, .125);
}

.features__image {
  display: block;
  width: 3em;
  height: 3em;
  margin-bottom: 15px;
}

.features__text {
  color: #565656;
  line-height: 1.8;
}