<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap" rel="stylesheet">
  <title>Prolend</title>
</head>
<body>
  <div id="scrollUp">
    <i class="fa fa-arrow-up"></i>
  </div>
  <div class="main">
    <header class="header" id="header">
      <div class="container">
        <div class="header__inner">
          <a class="header__logo" href="#">
            <img class="colorful-logo" alt="logo" src="/images/logo/logo.png">
            <img class="white-logo" alt="logo" src="/images/logo/white-logo.svg">
          </a>
          <ul class="nav" id="nav">
            <li class="nav__item">
              <a class="nav__link" href="#" data-scroll="#intro">
                Home
              </a>
              <div id="dropdown">
                <a href="#" class="dropdown__link">Page 1</a>
                <a href="#" class="dropdown__link">Page 2</a>
                <a href="#" class="dropdown__link">Page 3</a>
                <a href="#" class="dropdown__link">Page 4</a>
              </div>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" data-scroll="#features">Features</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" id="nav__pages">Pages</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" data-scroll="#products">Products</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" data-scroll="#faq">Faq</a>
            </li>
            <li class="nav__item">
              <a href="#" class="nav__link" data-scroll="#contact">Contact</a>
            </li>
            
            
          </ul>
          <button class="nav-toggler" type="button" id="nav-toggler">
            <span class="nav-toggler__item">Menu</span>
          </button>
        </div>
      </div>
    </header>

    <section class="intro" id="intro">
      <div class="container__shape">
        <div class="shape-bg"></div>
      </div>
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-md-7 res-margin">
            <div class="intro__inner">
              <span class="suptitle mb-2">The Next Generation Landing Page</span>
              <h1 class="intro__title">Get <span>Prolend</span> Product Landing Page</h1>
              <div class="intro__text my-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
              <div class="store-buttons">
                <a href="#" class="store-buttons__link">
                  <img src="/images/icons/app-store-black.svg" alt="AppStore">
                </a>
                <a href="3" class="store-buttons__link">
                  <img src="/images/icons/google-play-black.svg" alt="GooglePlay">
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <img class="intro__image" src="/images/header/welcome-mockup.png" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="features" id="features">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-4 res-margin">
            <div class="features__item p-5">
              <img src="/images/icons/layers.png" alt="" class="features__image">
              <h3 class="mb-2">Fully functional</h3>
              <div class="features__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 res-margin">
            <div class="features__item p-5">
              <img src="/images/icons/speak.png" alt="" class="features__image">
              <h3 class="mb-2">Live Chat</h3>
              <div class="features__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="features__item p-5">
              <img src="/images/icons/lock.png" alt="" class="features__image">
              <h3 class="mb-2">Secure Data</h3>
              <div class="features__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="service service--gray ">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 res-margin">
            <div class="service__text">
              <h2 class="service__title mb-4">Get more out of Prolend Watch</h2>
              <ul class="service__list">
                <li class="service__item">
                  <div class="service__icon">
                    <i class="fab fa-buffer"></i>
                  </div>
                  <div class="service__item__text">Fully layered dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</div>
                </li>
                <li class="service__item">
                  <div class="service__icon">
                    <i class="fas fa-brush"></i>
                  </div>
                  <div class="service__item__text">Customizable design dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</div>
                </li>
                <li class="service__item">
                  <div class="service__icon">
                    <i class="fas fa-burn"></i>
                  </div>
                  <div class="service__item__text">Drop ipsum dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</div>
                </li>
                <li class="service__item">
                  <div class="service__icon">
                    <i class="fas fa-cart-arrow-down"></i>
                  </div>
                  <div class="service__item__text">Marketing chart dolor sit amet, consectetur adipisicing elit. Facere, nobis, id expedita dolores officiis laboriosam.</div>
                </li>
              </ul>
              <a class="red-link__btn mt-4" href="#">Learn More</a>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="service__image">
              <img src="/images/service/thumb-01.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="service">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 order-2 order-lg-1">
            <div class="service__image">
              <img src="/images/service/thumb-02.png" alt="">
            </div>
          </div>
          <div class="col-12 col-lg-6 order-1 order-lg-2 res-margin">
            <div class="service__text">
              <h2 class="service__title mb-4">Get up to $100 for your Prolend Watch Series 2 or Series 3.</h2>
              <p class="service__desc">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
              <a class="red-link__btn mt-4" href="#">Shop now to get reward</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="cta">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-7">
            <div class="cta__text">
              <h2 class="cta__title mb-4">
                Your new favorite band is here.
              </h2>
              <div class="cta__desc">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</div>
              <a class="red-link__btn mt-2">Find all your favourite brand</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="service">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-5 res-margin">
            <div class="service__image">
              <img src="/images/service/thumb-03.png" alt="">
            </div>
          </div>
          <div class="col-12 col-lg-7">
            <div class="service__text">
              <h2 class="service__title mb-4">Technical Specs.</h2>
              <p class="service__desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique dolor ut iusto vitae autem neque eum ipsam, impedit asperiores vel cumque laborum dicta repellendus inventore voluptatibus et explicabo nobis unde.</p>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="service__detail p-3">
                    <img class="detail__icon" src="/images/icons/multimedia-option.svg" alt="">
                    <div class="detail__desc">
                      <h3 class="detail__title mb-2">Fully functional</h3>
                      <p class="detail__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="service__detail p-3">
                    <img class="detail__icon" src="/images/icons/fingerprint.svg" alt="">
                    <div class="detail__desc">
                      <h3 class="detail__title mb-2">Secure Data</h3>
                      <p class="detail__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="service__detail p-3">
                    <img class="detail__icon" src="/images/icons/communications.svg" alt="">
                    <div class="detail__desc">
                      <h3 class="detail__title mb-2">Instant Chat</h3>
                      <p class="detail__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="service__detail p-3">
                    <img class="detail__icon" src="/images/icons/notification.svg" alt="">
                    <div class="detail__desc">
                      <h3 class="detail__title mb-2">Live Notification</h3>
                      <p class="detail__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="service__detail p-3">
                    <img class="detail__icon" src="/images/icons/technology.svg" alt="">
                      <div class="detail__desc">
                      <h3 class="detail__title mb-2">Wifi Support</h3>
                      <p class="detail__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="service__detail p-3">
                    <img class="detail__icon" src="/images/icons/add.svg" alt="">
                    <div class="detail__desc">
                      <h3 class="detail__title mb-2">App Watch</h3>
                      <p class="detail__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis culpa expedita dignissimos.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="products products--gray">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7">
            <div class="section__heading res-padding">
              <h2 class="section__title">We Have Quality Products</h2>
              <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="products-slider owl-carousel">
            <div class="products-slider__item">
              <img class="item__image" src="/images/features-tech/thumb-01.png" alt="">
              <div class="item__body">
                <h3>Prolend Watch 3</h3>
                <h4 class="item__price">$164.00</h4>
                <ul class="item__features">
                  <li>Amoled Display</li>
                  <li>Retina Ready</li>
                  <li>Enfold Design</li>
                </ul>
              </div>
              <div class="item__order">
                <div class="order__btn-group">
                  <a href="#" class="order__btn ">View Details</a>
                  <a href="#" class="order__btn red--btn">Order Now</a>
                </div>
              </div>
            </div>
            <div class="products-slider__item">
              <img class="item__image" src="/images/features-tech/thumb-02.png" alt="">
              <div class="item__body">
                <h3>Beats Headphone</h3>
                <h4 class="item__price">$190.00</h4>
                <ul class="item__features">
                  <li>Amoled Display</li>
                  <li>Retina Ready</li>
                  <li>Enfold Design</li>
                  <li>Great UI</li>
                </ul>
              </div>
              <div class="item__order">
                <div class="order__btn-group">
                  <a href="#" class="order__btn ">View Details</a>
                  <a href="#" class="order__btn red--btn">Order Now</a>
                </div>
              </div>
            </div>
            <div class="products-slider__item">
              <img class="item__image" src="/images/features-tech/thumb-03.png" alt="">
              <div class="item__body">
                <h3>Prolend Watch 3</h3>
                <h4 class="item__price">$164.00</h4>
                <ul class="item__features">
                  <li>Amoled Display</li>
                  <li>Retina Ready</li>
                  <li>Enfold Design</li>
                </ul>
              </div>
              <div class="item__order">
                <div class="order__btn-group">
                  <a href="#" class="order__btn ">View Details</a>
                  <a href="#" class="order__btn red--btn">Order Now</a>
                </div>
              </div>
            </div>
            <div class="products-slider__item">
              <img class="item__image" src="/images/features-tech/thumb-04.png" alt="">
              <div class="item__body">
                <h3>Prolend Watch 3</h3>
                <h4 class="item__price">$164.00</h4>
                <ul class="item__features">
                  <li>Amoled Display</li>
                  <li>Retina Ready</li>
                  <li>Enfold Design</li>
                </ul>
              </div>
              <div class="item__order">
                <div class="order__btn-group">
                  <a href="#" class="order__btn ">View Details</a>
                  <a href="#" class="order__btn red--btn">Order Now</a>
                </div>
              </div>
            </div>
            <div class="products-slider__item">
              <img class="item__image" src="/images/features-tech/thumb-04.png" alt="">
              <div class="item__body">
                <h3>Prolend Watch 3</h3>
                <h4 class="item__price">$164.00</h4>
                <ul class="item__features">
                  <li>Amoled Display</li>
                  <li>Retina Ready</li>
                  <li>Enfold Design</li>
                </ul>
              </div>
              <div class="item__order">
                <div class="order__btn-group">
                  <a href="#" class="order__btn ">View Details</a>
                  <a href="#" class="order__btn red--btn">Order Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="products" id="products">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9">
            <div class="section__heading">
              <h2 class="section__title">Compare Products To Get More Value</h2>
              <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <table class="table table-responsive-lg table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th class="justify-content-between" scope="col">
                    <div class="item__photo">
                      <img src="/assets/images/features-tech/thumb-01.png" alt="">
                    </div>
                    <div class="item__body item__body--table ">
                      <h3 class="pb-2">Prolend Watch 2</h3>
                      <h6>For Man & Woman</h6>
                    </div>
                  </th>
                  <th class="justify-content-between" scope="col">
                    <div class="item__photo">
                      <img src="/assets/images/features-tech/thumb-02.png" alt="">
                    </div>
                    <div class="item__body item__body--table">
                      <h3 class="pb-2">Smart Headphone</h3>
                      <h6>For Man & Woman</h6>
                    </div>
                  </th>
                  <th class="justify-content-between" scope="col">
                    <div class="item__photo">
                      <img src="/assets/images/features-tech/thumb-03.png" alt="">
                    </div>
                    <div class="item__body item__body--table">
                      <h3 class="pb-2">Prolend Watch Pro</h3>
                      <h6>For Man</h6>
                    </div>
                  </th>
                  <th class="justify-content-between" scope="col">
                    <div class="item__photo">
                      <img src="/assets/images/features-tech/thumb-04.png" alt="">
                    </div>
                    <div class="item__body item__body--table">
                      <h3 class="pb-2">Beats Headphone</h3>
                      <h6>For Man & Woman</h6>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th class="red-text" scope="col">Price</th>
                  <th class="red-text text-center" scope="col">$47</th>
                  <th class="red-text text-center" scope="col">$99</th>
                  <th class="red-text text-center" scope="col">$149</th>
                  <th class="red-text text-center" scope="col">$129</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Brand</th>
                  <td class="text-center">Prolend Watch 2</td>
                  <td class="text-center">Smart Headphone</td>
                  <td class="text-center">Prolend Watch Pro</td>
                  <td class="text-center">Beats Headphone</td>
                </tr>
                <tr>
                  <th scope="row">Color</th>
                  <td class="text-center">Black</td>
                  <td class="text-center">White</td>
                  <td class="text-center">Blue</td>
                  <td class="text-center">Black</td>
                </tr>
                <tr>
                  <th scope="row">Compatible with</th>
                  <td class="text-center">Android 5.0</td>
                  <td class="text-center">Android 5.0, iOS9 and above</td>
                  <td class="text-center"></td>
                  <td class="text-center">Android 5.0, iOS9 and above</td>
                </tr>
                <tr>
                  <th scope="row">Item Dimensions</th>
                  <td class="text-center">9 x 3.01 x 0.79 in</td>
                  <td class="text-center">7 x 5.03 x 0.63 in</td>
                  <td class="text-center">10 x 2.01 x 0.21 in</td>
                  <td class="text-center"></td>
                </tr>
                <tr>
                  <th scope="row">Item Weight</th>
                  <td class="text-center">0.7 lb</td>
                  <td class="text-center">2.4 ounces</td>
                  <td class="text-center">0.9 lb</td>
                  <td class="text-center">3.8 ounces</td>
                </tr>
                <tr>
                  <th scope="row">Operating System</th>
                  <td class="text-center">iOS</td>
                  <td class="text-center">iOS, Android</td>
                  <td class="text-center">Android</td>
                  <td class="text-center">iOS, Android</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section class="reviews">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8">
            <div class="reviews__heading">
              <span class="d-inline-block rounded-pill shadow-sm fw-5 px-4 py-2 mb-3">
                <i class="fas fa-lightbulb"></i>
                <span class="red-text">Customer's </span>Reviews
              </span>
              <h2 class="reviews__title">What Our Customers Are Saying</h2>
              <p class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-4 res-margin">

            <div class="review__item">
              <div class="review__body">
                <div class="review__icon">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4 class="review__title mt-4 mb-3">Excellent service & support!!</h4>
                <div class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis nam id facilis, provident doloremque placeat eveniet molestias laboriosam. Optio, esse.</div>
              </div>
              <div class="review__author">
                <div class="review__image">
                  <img src="/assets/images/avatar/avatar-1.png" alt="">
                </div>
                <div class="review__info">
                  <h5 class="review__name mb-2">Junaid Hasan</h5>
                  <h6 class="review__position">CEO, Themeland</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 res-margin">
            <div class="review__item">
              <div class="review__body">
                <div class="review__icon">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4 class="review__title mt-4 mb-3">Nice work! Keep it up</h4>
                <div class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis nam id facilis, provident doloremque placeat eveniet molestias laboriosam. Optio, esse.</div>
              </div>
              <div class="review__author">
                <div class="review__image">
                  <img src="/assets/images/avatar/avatar-2.png" alt="">
                </div>
                <div class="review__info">
                  <h5 class="review__name mb-2">Junaid Hasan</h5>
                  <h6 class="review__position">CEO, Themeland</h6>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4">
            <div class="review__item">
              <div class="review__body">
                <div class="review__icon">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                </div>
                <h4 class="review__title mt-4 mb-3">Great support!!</h4>
                <div class="review__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis nam id facilis, provident doloremque placeat eveniet molestias laboriosam. Optio, esse.</div>
              </div>
              <div class="review__author">
                <div class="review__image">
                  <img src="/assets/images/avatar/avatar-3.png" alt="">
                </div>
                <div class="review__info">
                  <h5 class="review__name mb-2">Junaid Hasan</h5>
                  <h6 class="review__position">CEO, Themeland</h6>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="download download--dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <div class="download__text">
              <h2 class="download__title">Prolend is available for all devices</h2>
              <div class="download__desc">
                Prolend is available for all devices, consectetur adipisicing elit. Itaque at harum quam explicabo. Aliquam optio, delectus, dolorem quod neque eos totam. Delectus quae animi tenetur voluptates doloribus commodi dicta modi aliquid deserunt, quis maiores nesciunt autem, aperiam natus.
              </div>
              <div class="download__btn-group">
                <a href="#">
                  <img src="/images/icons/app-store.png" alt="">
                </a>
                <a href="#">
                  <img src="/images/icons/google-play.png" alt="">
                </a>
              </div>
              <span class="d-inline-block text-white fw-3 font-italic mt-3">* Available on iPhone, iPad and all Android devices</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="faq" id="faq">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7">
            <div class="section__heading">
              <h2 class="section__title">Frequently Asked Questions</h2>
              <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="faq__item">
              <div class="faq__header">
                <h2 class="faq__title mb-0">How to install prolend?</h2>
              </div>
              <div class="faq__body">
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.
              </div>
            </div>
            <div class="faq__item">
              <div class="faq__header">
                <h2 class="faq__title mb-0">How can I get support from the Author?</h2>
              </div>
              <div class="faq__body">
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
              </div>
            </div>
            <div class="faq__item">
              <div class="faq__header">
                <h2 class="faq__title mb-0">Do you have a free trial?</h2>
              </div>
              <div class="faq__body">
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="faq__item">
              <div class="faq__header">
                <h2 class="faq__title mb-0">How can I edit my personal information?</h2>
              </div>
              <div class="faq__body">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              </div>
            </div>
            <div class="faq__item">
              <div class="faq__header">
                <h2 class="faq__title mb-0">Contact form isn't working?</h2>
              </div>
              <div class="faq__body">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
              </div>
            </div>
            <div class="faq__item">
              <div class="faq__header">
                <h2 class="faq__title mb-0">Contact form isn't working?</h2>
              </div>
              <div class="faq__body">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <p class="pt-4 px-3">Haven't find suitable answer? <a class="faq__link" href="#">Tell us what you need.</a></p>
        </div>
      </div>
    </section>

    <section class="subscribe">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7">
            <div class="subscribe__content">
              <h2>Subscribe to get updates</h2>
              <p class="m-4">By subscribing you will get newsleter, promotions adipisicing elit. Architecto beatae, asperiores tempore repudiandae saepe aspernatur unde voluptate sapiente quia ex.</p>
            </div>
            <form class="subscribe__form">
              <div class="form-group">
                <input class="subscribe__input form-control" type="text" placeholder="Enter your email">
              </div>
              <button class="subscribe__btn" type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section class="contact" id="contact">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-6">
            <div class="section__heading">
              <h2 class="section__title">Stay Tuned</h2>
              <p class="section__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum obcaecati dignissimos quae quo ad iste ipsum officiis deleniti asperiores sit.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-12 col-md-5">
            <div class="contact__info">
              <p class="mb-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <ul class="contact__list">
                <li class="contact__item py-2">
                  <a href="#">
                    <div class="contact__icon">
                      <i class="fa fa-home" aria-hidden="true"></i>
                    </div>
                    <span class="contact__text">Vestibulum nulla libero, convallis, tincidunt suscipit diam, DC 2002</span>
                  </a>
                </li>
                <li class="contact__item py-2">
                  <a href="#">
                    <div class="contact__icon">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <span class="contact__text">+1 230 456 789-012 345 6789</span>
                  </a>
                </li>
                <li class="contact__item py-2">
                  <a href="#">
                    <div class="contact__icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <span class="contact__text">exampledomain@domain.com</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="contact__form">
              <form>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <input type="text" class="contact__input" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <input type="text" class="contact__input" placeholder="Email">
                    </div>
                    <div class="form-group">
                      <input type="text" class="contact__input" placeholder="Subject">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <textarea name="message" placeholder="Message" rows="30" class="contact__textarea from-control"></textarea>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="contact__btn" type="submit">
                      <i class="fas fa-paper-plane pr-3"></i>Send Message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="footer__emulator"></div>

    <footer class="footer footer--fixed">
      <div class="footer__top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-3 res-margin">
              <div class="footer__items">
                <a href="#" class="footer__logo">
                  <img src="/images/logo/logo.png" alt="">
                </a>
                <p class="mt-2 mb-3">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis non, fugit totam vel laboriosam vitae.
                </p>
                <div class="footer__social">
                  <a class="social__link social__link--facebook" href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                  <a class="social__link social__link--twitter" href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a class="social__link social__link--google" href="#">
                    <i class="fab fa-google-plus-g"></i>
                  </a>
                  <a class="social__link social__link--vine" href="#">
                    <i class="fab fa-vine"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 res-margin">
              <div class="footer__items">
                <h3 class="footer__title">
                  Useful Links
                </h3>
                <ul class="footer__list">
                  <li class="py-2"><a href="#" class="footer__link">Home</a></li>
                  <li class="py-2"><a href="#" class="footer__link">About Us</a></li>
                  <li class="py-2"><a href="#" class="footer__link">Services</a></li>
                  <li class="py-2"><a href="#" class="footer__link">Blog</a></li>
                  <li class="py-2"><a href="#" class="footer__link">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="footer__items">
                <h3 class="footer__title">
                  Product Help
                </h3>
                <ul class="footer__list">
                  <li class="py-2"><a href="#" class="footer__link">FAQ</a></li>
                  <li class="py-2"><a href="#" class="footer__link">Privacy Policy</a></li>
                  <li class="py-2"><a href="#" class="footer__link">Support</a></li>
                  <li class="py-2"><a href="#" class="footer__link">Terms & Conditions</a></li>
                  <li class="py-2"><a href="#" class="footer__link">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
              <div class="footer__items">
                <h3 class="footer__title">
                  Download
                </h3>
                <div class="footer__btn-group">
                  <a href="#">
                    <img class="footer__btn" src="/images/icons/google-play-black.svg" alt="">
                  </a>
                  <a href="#">
                    <img class="footer__btn" src="/images/icons/app-store-black.svg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="footer__copyright">
                <div class="copyright__left">
                  &copy; Copyrights 2020 Prolend All rights reserved.
                </div>
                <div class="copyright__right">
                  Made with <i class="fas fa-heart"></i> By <a href="#" class="copyright__authors">Theme Land</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>